{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>hello from post_create and edit page(tracking log for staff, post for user)</h1>
    <p> redirect back to post_info afterwards</p>
    
</div>


<div class="jumbotron">

    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.staff_id.label}} {{form.staff_id()}} <br>
        {{form.user_id.label}} {{form.user_id()}} <br>
        {{form.message.label}} {{form.message()}} <br>
        {{form.attachment.label}} {{form.attachment()}} <br>
        {{form.submit()}}
    </form>

</div>

{% endblock %}