{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>hello from staff_register</h1>
    <h1>register new staff</h1>
</div>


<div class="jumbotron">
    <form method="POST">

        {{ form.hidden_tag() }}

        {{ form.username.label }} {{ form.username() }} <br>

        {{form.company_id.label}} {{form.company_id()}} <br>

        {{ form.role.label}} {{form.role() }} <br>

        {{ form.password.label}} {{ form.password()}} <br>

        {{form.pass_confirm.label}} {{form.pass_confirm()}}<br>

        {{ form.submit() }}
    </form>

</div>




{% endblock %}