{% extends "base.html" %}
{% block content %}



<div class="jumbotron">

    {% for user in users.items %}

        <h3><a href="{{ url_for("user.user_account", user_id=user.id) }}">user id: {{user.id}}</a> </h3>
        <p>user name: {{user.name}}</p>
        <p>registration date: {{user.date.strftime("%B %d, %Y")}}</p>
    
    {% endfor %}
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      {% for page_num in users.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
         {% if users.page == page_num %}
         <li class="page-item disabled">
           <a class="page-link" href="{{ url_for('user.user_list', page=page_num) }}">{{ page_num }}</a></li>
         </li>
         {% else %}
           <li class="page-item"><a class="page-link" href="{{ url_for('user.user_list', page=page_num) }}">{{ page_num }}</a></li>
         {% endif %}
     {% endfor %}
   </nav>


{% endblock %}