{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
    <h1>hello from user register</h1>
</div>

<div class="jumbotron">
    {% from "_formhelpers.html" import render_field %}


    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.email)}}
        {{ render_field(form.phone)}}
        {{ render_field(form.password)}}
        {{ render_field(form.pass_confirm)}}
        {{ form.submit()}}
    </form>
</div>


{% endblock %}