{% extends "base.html" %}
{% block content %}

<div class="container text-center">

    <h5><a href="{{url_for("company.company_create")}}">Add new company</a></h5>
    <h5><a href="{{url_for("company.company_info")}}">View existing companies</a></h5>
    <h5><a href="{{url_for("staff.staff_register")}}">Register new staff</a></h5>
    <h5><a href="{{url_for("staff.staff_info")}}">View existing staffs</a></h5>
    <h5><a href="{{url_for("order.order_create")}}">Create New Order</a></h5>
    <h5><a href="{{url_for("order.order_list")}}">View existing Orders</a></h5>
    <h5><a href="{{url_for("user.user_register")}}">Register new user</a></h5>
    <h5><a href="{{url_for("user.user_list")}}">View existing users</a></h5>
</div>



{% endblock %}