{% extends "base.html" %}


{% block dashboard %}
{% endblock %}

{% block content %}



<div class="text-center mt-5">
    <br>
    <br>
    <br>
    <p><a href="{{url_for("user.user_register")}}">Register</a> for free account</p> 
    <p>Login to access and manage all your past orders!</p>
    <br>
    {% from "_formhelpers.html" import render_field %}
    <form class="form-inline mt-2 mt-md-0" action="" method="POST" enctype="multipart/form-data">
        <div class="mx-auto">
        {% for field in form %}
            {{ render_field(field)}}
        {% endfor %}
        </div>
    </form>
    <br>
    
    {% if search_method=="by_order_number" %}
    <a href="{{url_for("web.index", search_method="by_qrcode")}}">Search by QR-code image</a>
    {% else %}   
    <a href="{{url_for("web.index", search_method="by_order_number")}}">Search by Order Number</a>
    {% endif %}
</div>


{% endblock %}