{% extends "base.html" %}
{% block content %}



<div class="container text-center mt-5" style="width:400px">
    <p>User Login</p>
        {% from "_formhelpers.html" import render_field %}
    
    
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            {{ render_field(form.username) }}
            {{ render_field(form.password)}}
            {{ form.submit()}}
        </form>
        <br>
        <p>no account yet? <a href="{{url_for("user.user_register")}}">Register a free account</a></p>
    </div>

{% endblock %}