{% extends "base.html" %}
{% block content %}


<div class="container text-center mt-5" style="width:400px">
    <p>User Registration</p>

    {% from "_formhelpers.html" import render_field %}


    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ render_field(form.username) }}
        {{ render_field(form.email)}}
        {{ render_field(form.phone)}}
        {{ render_field(form.password)}}
        {{ render_field(form.pass_confirm)}}
        {{ form.submit()}}
    </form>
</div>


{% endblock %}